#github_token=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
github_username=
github_repository=
git_protocol=ssh
branch_name=
commit_username="test"
commit_email="test@klippertest-Yg4BceK"
moonraker_db_backups=true

# Backup paths
#  Note: script.sh starts its search in $HOME which is /home/{username}/
# The array accepts folders or files like the following example
# 
#  backupPaths=( \
#  "printer_data/config/*" \
#  "printer_data/config/printer.cfg" \
#  )
#
# Using the above example the script will search for `/home/{username}/printer_data/config/*` and `/home/{username}/printer_data/config/printer.cfg`
# When backing up a folder you should always have `/*` at the end of the path so that files insde the folder are properly searched 

backupPaths=( \
"printer_data/config/*" \
)

# Array of strings in .gitignore pattern git format https://git-scm.com/docs/gitignore#_pattern_format for files that should not be uploaded to the remote repo
# New additions must be enclosed in double quotes and should follow the pattern format as noted in the above link
exclude=( \
"*.swp" \
"*.tmp" \
"printer-[0-9]*_[0-9]*.cfg" \
"*.bak" \
"*.bkp" \
"*.csv" \
"*.zip" \
)

extraFilewatchExclude="mmu_vars.cfg|macros.cfg|test.cfg|randomfile.png"
theme_url=https://github.com/eriroh/Mainsail-x-Voron-Toolhead-Theme
